.App {
  text-align: center;
}

.navbar {
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding: 1vw;
  background-color: #1d2b46;
  color: wheat;
  display: flex;
  justify-content: left;
  font-size: large;
}

.navlogo {
  font-weight: 700;
  text-decoration: none;
  padding-left: 5vw;
  padding-right: 21.3vw;
  font-size: x-large;
  color: wheat;
  padding-top: 1.3vh;
}

.navimg {
  width: 86px;
  height: 40px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
